input {
    margin: 8px;
}

p{
    white-space:pre-wrap;
    margin: 8px;
}

.regex-block {
    margin: 4vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ACCEPT {
    background-color: green;
}

.REJECT {
    background-color: red;
}