td, th {
    border: 2px solid white;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
    color: black;
}

tr:nth-child(odd) {
    background-color: lightblue;
    color: black;
}

td:nth-child(even) {
    width: 40%;
}

.regex-syntax-table code {
    background-color: lightslategray;
    padding: 4px;
    white-space: nowrap;
}

table {
    border-collapse: collapse;
    width: 99%;
    margin: 8px;
}